*{
    margin: 0;
}
p{
    font-size: 1rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    background-color: cornflowerblue;
}
.grid-item{
    background-color: aliceblue;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: rosybrown;
    column-gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
.nav-item{
    background-color: darkblue;
}
.nav-item-container{
    display: flex;
    column-gap: 5px;
    
}
.flex-container{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px;
    margin-top: 50px;
}

footer{
    display: block;
    background-color: aquamarine;
}